rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function requestData() {
      return request.resource.data;
    }
    function isSignedIn() {
      return request.auth.uid != null;
    }
    match /chat/{chatId} {
      allow read: if true;
      allow create: if isSignedIn() 
                        && requestData().size() == 3
                        && 'createdAt' in requestData() && requestData().createdAt is timestamp
                        && 'sentence' in requestData() && requestData().sentence is string
                        && 'userId' in requestData() && requestData().userId is string;
    }
  }
}
